{% extends 'base.html' %}
{% block body %}
<br>
<br>
<br>
<div class="container">
  {% if user.is_authenticated %}
  {% if isMyPost %}
<a href="{% url 'blogsite:new_post' %}" role="button" class="btn btn-primary float-md-right">Новый пост</a>
{% else %}
{% if isSub%}
<a href="{% url 'blogsite:sign_unsign' blog_id=blog.id %}" role="button" class="btn btn-primary float-md-right">Отписаться</a>
{% else %}
<a href="{% url 'blogsite:sign_unsign' blog_id=blog.id %}" role="button" class="btn btn-primary float-md-right">Подписаться</a>
{% endif %}
  {% endif %}
  {% endif %}
<br>
<br>
{% for p in posts %}
<p><a href="{% url 'blogsite:show_post' post_id=p.id %}">{{ p.post_header }}</a></p>
  <hr>
{% endfor %}
</div>
{% endblock %}
