

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    {% block head %}
    <meta charset="utf-8">
    <title>Base</title>
    {% endblock %}
    {% load static %}
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'blogsite/base.js' %}"></script>
  <body ng-app="BlogApp" ng-controller="BaseController">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'blogsite:notify' %}">Уведомления <span ng-bind="notification"></span></a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'blogsite:all_posts' %}">Все посты</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'blogsite:feed' %}">Новостная лента</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'signupapp:logout' %}">Выйти</a></li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'signupapp:logout' %}">Войти</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

            <div>
              {% block body %}

              {% endblock %}

            </div>
          </div>
    </div>

  </body>
</html>
